In [1]:
import pandas as pd

In [2]:
result = pd.read_csv("calonefactor2013.csv")

In [9]:
result

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,42,43,44,45,46,47,48,49,50,51
0,0,2.541699,0.010003,0.597762,-0.853093,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.070934,-0.000469,-0.009370,0.044307,0.033283,0.1,0.003604,0.03637,0.027656,...,0.036213,0.00944,0.004039,1.942890e-16,0.033414,0.015584,0.026888,0.018149,0.026343,0.1

In [33]:
vol = result.iloc[[1]]
vol = vol.as_matrix()
vol = vol[0]
vol = vol[1:]
vol

array([ 7.09339600e-02, -4.68750000e-04, -9.36950684e-03,  4.43071289e-02,
        3.32830811e-02,  1.00000000e-01,  3.60351563e-03,  3.63703613e-02,
        2.76562500e-02,  6.55792236e-02,  1.89382324e-02,  1.89224854e-02,
        4.62030029e-02,  2.05886841e-02,  1.00000000e-01,  1.83295898e-02,
        1.96582031e-02,  1.93332520e-02,  1.00000000e-01,  6.09082031e-03,
        2.60888672e-02,  1.71875000e-02,  7.31979370e-02,  2.76386719e-02,
        2.89160156e-02,  5.85910645e-02,  3.29687500e-02,  2.46093750e-04,
       -1.02172852e-02,  4.64355469e-02,  1.97351074e-02,  3.95312500e-03,
        1.87727051e-02,  2.36879883e-02, -9.04394531e-03,  8.40136719e-02,
        3.51562500e-03,  3.21582947e-02,  5.38867188e-02,  2.62431641e-02,
        3.37244873e-02,  8.01562500e-03,  3.62133789e-02,  9.43954468e-03,
        4.03906250e-03,  1.94289029e-16,  3.34140625e-02,  1.55839844e-02,
        2.68878784e-02,  1.81494141e-02,  2.63427734e-02,  1.00000000e-01])

In [35]:
para = result.iloc[[0]]
para = para.as_matrix()
para = para[0]
para = para[1:5]
para

array([ 2.54169903,  0.01000332,  0.59776233, -0.85309296])